<div class="course-hero">
        <div class="hero-name">
        <h1>{{coursename}}</h1>
        <div class="hero-location">
            <h3>Location</h3>
            <h3>Time Period</h3>
        </div>
    </div>
    <div class="hero-text">
        <p>{{{summary}}}</p>
    </div>
</div>