<div class="upcoming-courses">
    <h2>Upcoming courses</h2>
    <div class="upcoming-courses-time">
        <div class="date-time">
            <p>17 December 2024 to 18 December 2024</p>
            <p>Online</p>
            <p>Europe/Amsterdam</p>
        </div>
        <button class="upcoming-courses-info cta">More Info <i class="arrow right"></i></button>
    </div>
</div>
<div class="alternative-courses">
    <div class="alt-course-card">
        <h2>Alternative Courses</h2>
        <ul>
            <li>Course Name</li>
            <li>Course Name</li>
        </ul>
    </div>
</div>