<div class="hero-section d-flex">
    <div class="hero-left d-flex col-lg-6 col-md-12 col-sm-12">
        <div>
            <h1>Courses</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien orci. Donec nec arcu pulvinar, congue nunc a, porttitor est. Praesent ultrices justo sit amet suscipit blandit.</p>
        </div>
    </div>
    <div class="hero-right col-lg-6 col-md-12 col-sm-12">
        <img src="/theme/gexcon/pix/frontpage/europe.jpg" alt="hero-image">
    </div>
</div>
