<div class="usps-section d-flex flex-column">
    <div class="usp-top">
        <h1>Gexcon USPs</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien orci. Donec nec arcu pulvinar, congue nunc a, porttitor est. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="usp-bottom">
        <div class="usp-list-left">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </div>
        <div class="usp-list-right">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>   
        </div>
    </div>
</div>