<div class="footer">
    <div class="footer-top">
       <div class="footer-top-icon">
            <img src="/theme/gexcon/pix/style/PNG/Gexcon_Logo_2024_Colour.png" alt="">
            <div class="social-icons">
                <p>Connect with us</p>
                <div class="icon-links">
                    <a href="https://www.linkedin.com" target="_blank">
                        <img src="/theme/gexcon/pix/linkedin.png" alt="LinkedIn">
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                        <img src="/theme/gexcon/pix/twitter.png" alt="Twitter">
                    </a>
                    <a href="https://www.youtube.com" target="_blank">
                        <img src="/theme/gexcon/pix/youtube.png" alt="YouTube">
                    </a>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="/theme/gexcon/pix/facebook-logo.png" alt="Facebook">
                    </a>
                </div>
            </div>
        </div>

        <div class="location">
            <div>
                <h5>Norway</h5>
                <h3>Bergen Oslo Trondheim</h3>
            </div>
            <div>
                <h5>Europe</h5>
                <h3>UK France Netherlands Sweden Belfast</h3>
            </div>
        </div>

        <div class="location">
            <div>
                <h5>US</h5>
                <h3>Boston Houston Bethesda</h3>
            </div>
            <div>
                <h5>Australia</h5>
                <h3>Perth</h3>
            </div>
        </div>
        <div class="location">
            <div>
                <h5>Asia</h5>
                <h3>Jakarta, Indonesia Pune, India</h3>
            </div>
        </div>
        <div class="location footer-form">
            <form action="../../local/contact/index.php" method="post" class="enews-signup-form">
                <h5>E-News Sign-Up</h5>
                <fieldset>
                    <div class="form-group-user">
                        <input type="text" id="name" name="name" placeholder="Your name" required>
                    </div>

                    <div class="form-group-user">
                        <input type="email" id="email" name="email" placeholder="Your email" required>
                    </div>

                    <div class="form-group checkbox-group">
                        <label class="container">I confirm I would like to receive news and updates.
                            <input type="checkbox" name="customRadio" required>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <input type="hidden" name="subject" id="subject" required value="This is the footer form">
                    <input type="hidden" id="sesskey" name="sesskey" value="">
                    <script>document.getElementById('sesskey').value = M.cfg.sesskey;</script>
                </fieldset>
                <p>By submitting this form you agree to our <a href="#">Privacy Policy</a>.</p>

                <button type="submit" type="submit" id="submit" value="submit" name="submit">
                    Submit <span>></span>
                </button>
            </form>

        </div>
    </div>
    <div class="footer-bottom felx-column">
        <div class="footer-bottom-top">
            <p>© 2024 Gexcon All Rights Reserved</p>
        </div>
        <div class="footer-bottom-bottom d-flex">
            <div>Terms of Use</div>
            <div>Legal</div>
            <div>Disclaimer</div>
            <div>Privacy Policy</div>
            <div>Cookie Policy</div>
            <div>Manage Cookies</div>
        </div>
    </div>
</div>